/* src/assets/main.scss */

@import './variables.scss';

// === 全域設定 ===
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: $bg-body;
  color: $black;
}

a {
  text-decoration: none;
  color: inherit;
}

// 暫時reset設定
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}